* {
    /* border: solid 1px red; */
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

header,
footer {
    background-color: #1f2937;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: baseline;
    gap: 24px;
}

.top h3 {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-title {
    display: flex;
    margin: 100px 0;
    gap: 25px;
}

.rectangle-picture {
    /* width: 400px; */
    flex: 1;
}

.rectangle-picture img {
    max-width: 100%;
    height: auto;
}

.title {
    flex: 1;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.set-of-pictures {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.set-of-pictures figure {
    margin: 0;
    width: min-content;
}

.set-of-pictures figure img {
    width: 140px;
    height: 140px;
    border: #3882f6 solid 5px;
    border-radius: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 6px 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
    margin: 8px 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 28px;
    border-radius: 10px;
}

.call-to-action {
    background-color: #3882f6;
}





/* 
THINGS TO REMEMBER (++ = done):
-- Make buttons and links clickable
-- Change cursors to change on links
-- Put an eye icon on tab
++ Link the CSS style sheet you dumbass!
-- Find lower contrast color for the text under the title in the header section
-- Remove text decoration on links


*/